################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sha256
/Sha256/bin/Debug/net8.0
/Sha256/obj
